__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
media/
.vscode/
.idea/
*.log
conflicts.json
pip_error.txt
pip_log.txt
porcelain.txt
remotes.txt
upstream_files.txt
.venv/
venv/
*.log
df_install.log
install.log
